@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
	font-family: "Manrope", sans-serif;
	color: #f0f0f0;
}
.header.active {
	transform: translate(-50%, -50%);
	top: 45px;
	left: 50%;
}

/* .home{
  margin-top: 3rem;
} */

@media (min-width: 768px) and (max-width: 991px) {
	/* img.emoji{
    height: 200px;
  } */

	.home {
		margin-top: 0rem;
	}

	div.home-sub {
		padding-bottom: 350px;
		/* padding: 0px; */
	}
}

/* img.image {
  opacity: 0.2;
}

span:hover > img.image {
  opacity: 1;
}

span:hover {
  cursor: pointer;
} */

@media (max-width: 768) {
	.project-image {
		max-width: 30%;
		width: 100vw;
	}
}
